* {
    box-sizing: border-box;
}
.body {
    margin: 0;
    padding: 0;
    min-width:fit-content
}
/*блок меню*/
.container {
    width: 1600px;
    height: 2548px;
    margin: 0;
} 

header {
    width:100%;
    height: 72px;
    margin: 0;
    display:flex;
    align-items: center;
}
.buttons{
    margin: 0;
    padding: 0px 0px 0px 365px;
    display: inline-block;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.head1 {
    padding:0;
    margin: 0;
    color: black;
    text-decoration: none;
}
.head2 {
    padding-left: 35px;
    color: black;
    text-decoration: none;
}
.head3 {
    padding-left: 35px;
    color: black;
    text-decoration: none;
}
.user {
    padding-left: 68px;
    width: 14px;
    height: 14px;
}
.head4 {
    padding-left: 6px;
    color: black;
    text-decoration: none;
}

.logo {
    margin: 0;
    padding: 19px 0px 19px 244px;
}
/*Авторський блок*/
.mainpicture {
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    width:1600px;
    height:513px;
    background-image: url('../img/bcgrnd.png');
}
.karp4picture {
    vertical-align: bottom;
    margin: 0;
    width:339px;
    height: 479px;
    padding: 34px 0px 0px 13px;
    
}
.containtext {
    width: 929px;
    height: 512px;
}
.academy {
    width: 622px;
    height: 184px;
    margin: 66px 0px 0px 246px;
}

h1{ 
    font-family: 'Roboto Slab', serif;
    font-size: 38px;
    line-height: 53px;
    margin: 0;
    padding: 0;
    color: #ffff;
}
h2{
    font-size: 24px;
    line-height: 31px;
    color:#FF8A00;
}
.morebutton{
    display: block;
    text-align:center;
    text-decoration: none;
    padding-top: 10px;
    color: #ffff;
    width: 209px;
    height: 44px;
    border: 2px white solid;
    margin-left: 247px;
}
.slidebox {
    width:469px;
    height: 59px;
}
.slide{
    width:468px;
    height: 15px;
    background-color: #ffff;
    border-radius: 3px;
    margin:72px 0px 0px 245px;
    padding: 3px;
}
.progress{
    width:259px;
    height: 9px;
    background-color: #296DCE;
    border-radius: 2px;
}
.progresstxt{
    display: inline-block;
    font-family: 'Figtree', sans-serif;
    color:#ffff;
    width: 360px;
    height: 42px;
    margin-top: 9px;

}
.bignumber1{
    color:#ffff;
    font-family: 'Figtree', sans-serif;
    font-size: 38px;
    line-height: 42px;
    margin-right: 9px;

}
.bignumber2{
    color:#ffff;
    font-family: 'Figtree', sans-serif;
    font-size: 38px;
    line-height: 42px;
    padding: 0px 9px 0px 115px;
}

.progresstext1{
    display: inline-block;
    color:#ffff;
    margin: 0;
    width: 76px;
    height: 31px;
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    line-height: 15.35px;  
}
.progresstext2{
    display: inline-block;
    color:#ffff;
    margin: 0;
    width: 76px;
    height: 31px;
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    line-height: 15.35px;
}
.topiclist{
    width: 1602px;
    height: 1500px;
}
.containlist{
    width: 1602px;
    height: 50px;
}
.curslist{
    display: flex;
    list-style-type: none;
    margin: 14px 0px 0px 245px;
    padding: 0;
}
.curslist li{
    margin:0;
    padding: 0px 15px 0px 0px;
}
.shaddow{
    color: #979FAD;
    font-family: font-family: 'Figtree', sans-serif;
    font-size: 20px;
}
.apparent{
    color:black;
    font-family: font-family: 'Figtree', sans-serif;
    font-size: 20px;
}
.themeblock{
    height: 1565px;
    margin: 0 auto;
    text-align: center;
}
.blocks{
    display:flex;
    flex-direction: row;
    width: 1110px;
    height: 203px;
    margin:19px 0px 0px 246px;
    border: #F3F3F3 1px solid;
    border-radius: 3px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);;
}

.numbers{
    width: 148px;
    height: 104px;
    color:#E1E1E1;
    font-size: 60px;
    font-family:'Segoe UI', Bold;
}
.txt{
    width: 950px;
    height: 203px;
}
.txt, p, .theme{
    margin: 0;
    text-align: left;
    white-space: normal;
}
.theme{
    padding: 25px 0px 0px 0px;
    color: #1092CB;
    font-size: large;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.age{
    color: #979FAD;
    margin: 0;
    font-size: 16px;
}
.filling{
    color: #696969;
    font-size: 16px;
    padding-top: 10px;
}
.available{
    color:black;
    font-size: 12px;
    padding-top: 14px;
    font-family: Arial;
}
.date{
    color: #FF8A00;
    padding-left: 8px;
    font-family: 'Roboto Slab', bold;
}

footer{
    display: flex;
    flex-direction: row;
    width: 1602px;
    height: 350px;
    background: #0099DD;
    margin: 0;
    padding: 0;
}
.emptiness{
    width: 244px;
    height: 350px;
}
.infolist{
    width: 390px;
    height: 350px;
    margin: 0;
    padding-top: 37px;
    color: #ffff;
}
.footlist{
    list-style-type:none;
    margin: 0;
}
.name{
    font-size: 24px;
    font-family: 'Times New Roman', bold;
    margin: 0;
}
.tire{
    font-size: 30px;
}
.іnfo,a{
    color: #ffff;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Times New Roman', bold;
    text-decoration: none;
}